body {
  margin: 0;
  padding: 0; /* Rimuove il padding predefinito */
  overflow-x: hidden; /* Nasconde lo scroll orizzontale */
}
main {
  font-family: "roboto", sans-serif;
}
header {
  height: 70px;
  width: 100%;
  display: flex;
  background-color: #ffc017;
  justify-content: space-between;

  align-items: center;
  border-bottom: solid 2px lightgray;
}
.logo,
.link {
  margin: 0 100px;
}
.link {
}
.button {
  background-color: #ffc017;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.colorButton {
  border-radius: 20px;
  padding-block: 11px;
  color: whitesmoke;
  background-color: #191919;
  padding-inline: 15px;
  cursor: pointer;
}

.curious {
  height: 280px;
  width: 100%;
  display: flex;
  padding-left: 100px;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: #ffc017;
  padding-top: 30px;
}
h1 {
  color: #191919;
  font-size: 80px;
}
.curious h3 {
  font-size: 1.6rem;
  font-family: "roboto", sans-serif;
}
.curious button {
  padding-inline: 30px;
}
.stayCurious {
  display: flex;
  background-color: #ffc017;
  height: 350px;
}
.svg-image {
  height: 100%;
  width: auto;
}
.trending {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  padding-top: 50px;
}
.trendingHeader {
  display: flex;
  gap: 20px;
  /* justify-content: center; */
  align-items: center;
}
.trending p {
  font-family: "roboto", sans-serif;
  padding-top: 6px;
  padding-left: 6px;
  font-weight: bold;
}
.article {
  margin-top: 20px;
  display: flex;
}
.article span p {
  margin-right: 50px;
  font-size: 50px;
  color: gray;
  opacity: 0.3;

  margin-right: 50px;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}
.img {
  display: flex;
  align-items: center;
  gap: 10px;
}
.img img {
  border-radius: 50%;
}
.name {
}
.date {
  font-weight: 900;
  font-size: 1.5rem;
}
.time {
  color: rgb(175, 173, 173);
}
.trendingHeader p {
  letter-spacing: 1.5px;
}
.trendingHeader img {
  height: 45px;
}
